// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #E26A6A
$secondary : #6ae2a6
$accent    : #e26ae2

$dark      : #1D1D1D

$positive  : #2ad62a
$negative  : #d62a2a
$info      : #6aa6e2
$warning   : #e2a66a
